<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.portretov.mytaskandroidclient">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Опубликовать задание"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".DetailTaskActivity"
            android:label="Информация о задании"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".BrowseTaskActivity"
            android:label="Просмотр заданий"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>